html {
  background-color: #151515 !important;
  min-height: 100% !important; }

body {
  background-color: #eaeaea !important;
  min-height: 100% !important;
  -webkit-filter: invert(100%) !important; }

img,
iframe,
video,
embed:not([type$="pdf"]),
object,
svg,
canvas,
[background*="http"] {
  -webkit-filter: invert(100%)  !important; }

*[style*="background-image:"] {
  -webkit-filter: invert(100%)  !important; }

div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }

*:-webkit-full-screen {
  -webkit-filter: invert(100%)  !important; }

button, input[type="submit"], input[type="button"] {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  button span, input[type="submit"] span, input[type="button"] span {
    color: #bdbdbd !important; }

textarea, input[type="text"] {
  background-color: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

html {
  text-shadow: 0 0 0 !important; }

a {
  color: #9b4a09 !important; }

a:visited {
  color: #867934 !important; }

a:active {
  color: #6f3506 !important; }

::-webkit-scrollbar {
  background: #151515; }

::-webkit-scrollbar-track {
  background: #222222; }

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-left: 2px solid #222222;
  border-right: 1px solid #222222;
  box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4); }

.drk_settings_global_msg.visible {
  display: block !important; }

body {
  background-color: #eaeaea !important; }

button {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._517h {
  background-color: #dedede !important;
  color: #111111 !important; }
  ._517h i {
    -webkit-filter: none !important; }

._4-u8 {
  background-color: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._6m2 {
  background-color: #eaeaea !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._2md {
  -webkit-filter: invert(100%)  !important; }

input {
  color: #111111;
  background-color: #dedede;
  border-color: rgba(0, 0, 0, 0.15); }

a {
  color: #9b4a09 !important; }
  a:visited {
    color: #867934 !important; }
  a:active {
    color: #6f3506 !important; }

.uiScrollableAreaContent {
  background-color: #dedede !important; }

i {
  -webkit-filter: invert(100%)  !important; }

.cleanslate i {
  -webkit-filter: none !important; }

#contentCol {
  background-color: #eaeaea !important; }

#blueBarDOMInspector > div,
#blueBarDOMInspector > div > div {
  background-color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  color: #111111 !important; }

._585- {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  ._585- ._585_ {
    -webkit-filter: invert(100%)  !important; }

.searchIcon {
  padding-right: 14px !important; }

._2s25 {
  color: #bdbdbd !important; }

._2n_9 {
  -webkit-filter: invert(100%)  !important; }

.__tw {
  background: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  .__tw .jewelHeader, .__tw .jewelFooter {
    background-color: #dedede !important;
    color: #111111 !important;
    border-color: rgba(0, 0, 0, 0.15) !important; }

._ors .__tw .jewelFooter.jewelFooter a {
  background-color: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._33c {
  background: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._ors ._3nzk .fbRequestList .listGray {
  background: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.uiIconText i {
  -webkit-filter: invert(100%)  !important; }

.uiTextareaAutogrow._3en1 {
  background-color: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._4d6h._1kvc._tqc * {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._559p * {
  border-color: rgba(0, 0, 0, 0.15) !important; }

#pagelet_composer * {
  border-color: rgba(0, 0, 0, 0.15) !important; }

.__MenuItem {
  background-color: #dedede !important;
  color: #111111 !important;
  border-color: #dedede !important; }
  .__MenuItem.selected {
    background-color: #fea864 !important;
    color: #6f3506 !important; }

li._54ne, .__MenuItem.selected {
  background-color: #dedede !important; }

._54nc {
  border-color: #dedede !important; }

._54ng {
  border-color: #dedede !important;
  background-color: #dedede !important; }

._3399._1f6t._4_dr i {
  -webkit-filter: invert(100%)  !important; }

._4ar- ._3emk {
  background-color: #dedede !important; }

._4arz {
  background-color: #dedede !important; }

._ipo {
  background-color: #dedede !important; }

._iuw {
  -webkit-filter: invert(100%)  !important; }

.fcg {
  color: #424242 !important; }
  .fcg .fwb {
    color: #b350af !important; }

._4xev {
  color: #fea864 !important; }

._a7s {
  border-color: rgba(0, 0, 0, 0.15) !important; }

.UFIList {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.UFIRow {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.UFILinkBright::before {
  -webkit-filter: invert(100%) hue-rotate(-30deg) brightness(0.7) !important; }

._4-u8 {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._4ks > li {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._4jy1 {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.displayedTickerToggleWrapper .tickerLineToggle {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.tickerStoryClickable {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._5vb_ .home_right_column .fbFeedTicker .tickerStoryActive, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryClickable:hover {
  background-color: #fea864 !important; }

.fbRemindersTitle {
  color: #9b4a09 !important; }

._50f8 {
  color: #111111 !important; }

.tickerFeedMessage {
  color: #111111 !important; }
  .tickerFeedMessage .fwb {
    color: #9b4a09 !important; }

._3pra._5nns {
  border-color: #fec497 !important; }

._4-u8 {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._5mym > div {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._5v0s {
  color: #b350af !important; }

._19_3 {
  background-color: #dedede !important; }

.uiHeaderTopBorder {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._194u {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._194v:hover {
  background-color: #fea864 !important; }

._3pra:hover {
  background-color: #fea864 !important; }

._3-8h {
  background-color: #eaeaea !important; }

._53ij {
  background-color: #eaeaea !important; }

.fbTimelineTimePeriod {
  background-color: #eaeaea !important; }

#fb-timeline-cover-name {
  color: #fff !important;
  -webkit-filter: invert(100%)  !important; }

#fbProfileCover .coverNoImage, #fbProfileCover .coverBorder {
  -webkit-filter: invert(100%)  !important; }

._70k {
  background-color: #dedede !important; }

._513x {
  background: #fea864 !important; }

._6-6:hover, ._9rx.openToggler, ._9ry:hover, html ._9rw._54ne ._54nc {
  background: #fec497 !important; }

._57d8 {
  background-color: #eaeaea !important; }

._1tm3 ._4-h7:hover {
  background: #fea864 !important; }

textarea._4h98 {
  background-color: #dedede !important; }

._2w3 > ._30f {
  background: #dedede !important;
  color: #111111 !important;
  border-color: #dedede !important; }

._54ay button {
  background: #eaeaea !important; }

._3s6x {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.8)) !important;
  text-shadow: 0 0 0 #000 !important;
  color: #111111 !important; }
  ._3s6x ._34mw:after {
    -webkit-filter: invert(100%)  !important; }

._3cz {
  background: #c5c5c5 !important;
  color: #111111 !important;
  border-color: #dedede !important; }

._3t3 {
  background: #d1d1d1 !important;
  color: #111111 !important;
  border-color: #dedede !important; }

._28vg ._5b1w {
  -webkit-filter: invert(100%)  !important; }

._5y02:hover {
  background: #fec497 !important; }

._21ok {
  color: #9b4a09 !important; }

._u08 {
  color: #9b4a09 !important;
  border-color: #9b4a09 !important; }

._5wn5 {
  color: #9b4a09 !important; }

._47__::before {
  background: #fea864 !important; }

.uiMenu {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  .uiMenu .uiMenuItem .itemAnchor {
    border-color: #dedede !important; }

.uiBoxGray {
  background-color: #dedede !important; }

._qbs ._53ad {
  color: #9b4a09 !important; }

._1yw {
  background-color: #bdbdbd !important;
  color: #9b4a09 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._d3b {
  background-color: #c5c5c5 !important; }

._6wt {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._6wq {
  background: #dedede !important; }

._6ws {
  background-color: #dedede !important; }

._t {
  background-color: #eaeaea !important; }

._6z- .uiSideNav .selectedItem > .item, ._6z- .uiSideNav .selectedItem > .subitem {
  background-color: #fea864 !important; }

._kj3, ._z6j, ._2o49, .fbTimelineSection {
  background-color: #eaeaea !important; }

._4lh ._2-d1 {
  background-color: #eaeaea !important; }

._57uu, ._57uu ._57uy, ._5jkw, ._4p6i {
  background-color: #dedede !important; }

._5dz- {
  -webkit-filter: invert(100%)  !important; }

.fbChatSidebar {
  background-color: #eaeaea !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.fbNubButton .wrap {
  -webkit-filter: invert(100%)  !important; }
  .fbNubButton .wrap .name {
    -webkit-filter: invert(100%)  !important; }

.sp_JD0L4jI4KYp {
  border-radius: 100%; }

._568z {
  -webkit-filter: invert(100%)  !important; }

.fbNubFlyoutTitlebar.titlebar {
  border-color: rgba(0, 0, 0, 0.15) !important;
  background-color: #bdbdbd !important; }

._1nc6 ._5w1r {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._1nc7 ._5w1r {
  background-color: #f8f8f8 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._5w1r._31xx, ._3__- ._5w1r._31xx {
  background-color: transparent !important; }

._6gd a {
  -webkit-filter: invert(100%)  !important; }

._6h1 {
  -webkit-filter: invert(100%)  !important; }

div[aria-label*="sticker"] {
  -webkit-filter: invert(100%)  !important; }

._1nc6 ._d97, ._1nc6 ._d97 a {
  background-color: #da9918 !important;
  color: black !important; }

._1nc7 ._5w1r, ._1nc7 ._5w1r a {
  background-color: #bfbfbf !important;
  color: black !important; }

._576q svg {
  -webkit-filter: none !important; }

._1nc6 ._d97._31xy {
  background: none !important; }

._1uw- > img._1ift._2560 {
  -webkit-filter: invert(100%) !important; }

._5ep3 {
  -webkit-filter: invert(100%)  !important; }
  ._5ep3 svg {
    -webkit-filter: invert(100%)  !important; }

._2nlt, ._3olv._2nlt {
  -webkit-filter: invert(100%)  !important; }

.sp_7uF0Nxk6_De.sx_5f8e6c {
  border-radius: 50% !important; }

._3qx ._3ixn {
  background-color: rgba(197, 197, 197, 0.9) !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

body ._19u- ._3ixn {
  background: rgba(197, 197, 197, 0.9) !important; }

._2u7 {
  background-color: #fff !important; }

._2e_p, ._21mb {
  box-shadow: 0 4px 80px 6px rgba(255, 255, 255, 0.85) !important; }

._4d3w._u77 ._3t09 {
  background-color: #eaeaea !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._4d3w .snowliftOverlayBar {
  color: #424242 !important;
  background-color: #eaeaea !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._39n * {
  -webkit-filter: invert(100%)  !important; }

._4qo2 ._4x9_._48-k::before {
  -webkit-filter: invert(100%)  !important; }

._4oyq {
  background-color: rgba(222, 222, 222, 0.9) !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.iframeEmbed iframe:-webkit-full-screen {
  -webkit-filter: none !important; }

._3j5 {
  background-color: #dedede !important; }

.uiList {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.ul._281 {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._3b {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._k- {
  text-shadow: none !important; }

._kv:hover, ._kv {
  background-color: #fea864 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._k-:hover {
  background-color: #fec497 !important; }

._3db {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._35 {
  color: #424242 !important; }

._9h {
  -webkit-filter: invert(100%)  !important; }

._1rs {
  background-color: #eaeaea !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._2pt {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._1rs .emoticonsPanel .emoteTogglerImg {
  -webkit-filter: invert(0%) !important; }

._1rt {
  background-color: #dedede !important;
  color: #111111 !important; }

._1rw {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.uiHeaderSection, .uiSideHeader {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._1ri.uiButton.uiButtonConfirm {
  background-color: #fc560b !important;
  border-color: rgba(0, 0, 0, 0.15) !important;
  color: #bdbdbd !important; }

.emoticonsPanel .panelFlyout {
  background-color: #eaeaea !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._2nb ._2n3 {
  border-color: rgba(0, 0, 0, 0.15) !important; }
  ._2nb ._2n3 .timestamp {
    background-color: rgba(0, 0, 0, 0.15) !important;
    color: #424242 !important; }

._juy, ._58gc ._5otg, ._3i1j ._5otg, ._g3h, ._5vg-, ._5vgz, .sidebarMode #globalContainer ._5vgz.fixed_elem {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._5vx4._5vx6 ._5vwy ._13xf {
  background-color: #fea864 !important; }

._5r2h {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8) !important; }

._5mo6, ._5mo6 a {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.8) !important; }

._ubn {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._5y4p {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._14vf ._33v2 {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._33vf li._3wxb, ._33vf li._3wxb:hover, ._33vf li._1hgw, ._33vf li._1a_0:hover, ._33vf li._1a_0._4vb9 {
  background-color: #fea864 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._33v2, ._4vb8 {
  background-color: #eaeaea !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._tum {
  background-color: #c5c5c5 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._tun {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.selected ._tuq:before {
  background-color: #fea864 !important; }

._47ol {
  color: #9b4a09 !important; }

._3jk input {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._3910, ._5vh1 {
  color: #9b4a09 !important; }

._1lor, ._20h0 {
  background-color: #c5c5c5 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._1lot {
  background-color: #dedede !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

#pages_actions_pagelet button {
  color: #111111 !important; }

li.__MenuItem._54ne.selected ._54nc {
  background-color: #eaeaea !important; }

.fbTimelineSelector .wrap a.fbTimelineSelectorButton, .fbTimelineSelector .wrap a.fbTimelineSelectorButton:hover {
  -webkit-filter: invert(100%)  !important; }

.sp_YCWnpXxU8mE {
  -webkit-filter: invert(100%)  !important; }

.uiBoxWhite {
  background: #dedede !important; }

.fbTimelineStickyHeader .back {
  background: #c5c5c5 !important; }

._21es {
  background: #0014c4 !important;
  color: #dedede !important; }

.uiTooltipX .tooltipContent {
  background: #0014c4 !important;
  color: #dedede !important; }

.emoticon {
  -webkit-filter: invert(100%)  !important; }

i._lew {
  -webkit-filter: invert(0%) !important; }

.uiButtonGroup {
  background: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  .uiButtonGroup .uiButtonGroupItem {
    border-color: rgba(0, 0, 0, 0.15) !important; }

._23fw:before, ._23fw:after {
  background-image: linear-gradient(transparent, #dedede 50%, rgba(222, 222, 222, 0.6) 100%); }

.hasLeftCol #pageFooter {
  background-color: #eaeaea !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.uiSideNav .selectedItem .item, .uiSideNav .selectedItem .item:hover, .uiSideNav ul .selectedItem .subitem, .uiSideNav ul .selectedItem .subitem:hover {
  background-color: #fec497 !important; }

.uiSideNav .item:hover, .uiSideNav .item:active, .uiSideNav .item:focus, .uiSideNav .subitem:hover, .uiSideNav .subitem:active, .uiSideNav .subitem:focus, .uiSideNav .highlighted .item:hover, .uiSideNav ul .highlighted .subitem:hover {
  background-color: #fea864 !important; }

.fbSettingsList a.fbSettingsListLink:hover {
  background-color: #fea864 !important; }

.fbSettingsList .fbSettingsListItemSaved, .fbSettingsList .fbSettingsListItemEdit {
  color: #9b4a09 !important; }

.uiSideNav .item, .uiSideNav .subitem {
  border-color: rgba(0, 0, 0, 0.15) !important; }

._8-b ._26y1 {
  background-color: #c5c5c5 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._1bgx {
  background-color: #fea864 !important;
  text-shadow: none; }

._9ot:hover {
  background-color: rgba(254, 168, 100, 0.7) !important; }

._26y3 {
  background-color: #c5c5c5 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._2iwq {
  opacity: 0.2; }

/*# sourceMappingURL=facebook-material.css.map */
