html {
  background-color: #28292a !important;
  min-height: 100% !important; }

body {
  background-color: #d7d6d5 !important;
  min-height: 100% !important;
  -webkit-filter: invert(100%) !important; }

img,
iframe,
video,
embed:not([type$="pdf"]),
object,
svg,
canvas,
[background*="http"] {
  -webkit-filter: invert(100%)  !important; }

*[style*="background-image:"] {
  -webkit-filter: invert(100%)  !important; }

div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }

*:-webkit-full-screen {
  -webkit-filter: invert(100%)  !important; }

button, input[type="submit"], input[type="button"] {
  background-color: #ed7056 !important;
  color: #050300 !important;
  border-color: rgba(0, 0, 0, 0.08) !important; }
  button span, input[type="submit"] span, input[type="button"] span {
    color: #050300 !important; }

textarea, input[type="text"] {
  background-color: #f0f0ef !important;
  color: #0f0b06 !important;
  border-color: rgba(0, 0, 0, 0.08) !important; }

html {
  text-shadow: 0 0 0 !important; }

a {
  color: #9a2810 !important; }

a:visited {
  color: #d1593f !important; }

a:active {
  color: #002a96 !important; }

::-webkit-scrollbar {
  background: #28292a; }

::-webkit-scrollbar-track {
  background: #343637; }

::-webkit-scrollbar-thumb {
  background: #4d4e4f;
  border-left: 2px solid #343637;
  border-right: 1px solid #343637;
  box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4); }

.drk_settings_global_msg.visible {
  display: block !important; }

/*----------------------------------------------------------------------------------------------------------------------------------------------------

Guidelines:
* Please avoid hard-coding #rrggbb colors. Use the variables in themes/monokai.scss instead.
* Please add short comments before each CSS selector to indicate what UI element it refers to
* Before starting, take a look at google.scss, facebook.scss to see how a skin should look like

You should know: all the website's colors are inverted before skinning even starts!
* To make skinning easier, the entire website is inverted ("negative") by adding -webkit-filter: invert(100%) to <body> (done in all-websites.scss)
* In order to compensate for that, all the theme colors (in monokai.scss) are inverted back! e.g. $theme-link: invert-back-color($blue);
* This generally shouldn't affect you, since you should always use variables such as $theme-color or $theme-border, and not absolute #rrggbb colors
* Sometimes you'll want to invert elements back to their original color (e.g. negative images). Use invert-back: .elm { @include invert-back() }
----------------------------------------------------------------------------------------------------------------------------------------------------*/
body {
  background-color: #d7d6d5 !important; }

button {
  background-color: #ed7056 !important;
  color: #050300 !important;
  border-color: rgba(0, 0, 0, 0.08) !important; }

textarea, input, input[type="text"] {
  color: #0f0b06 !important;
  background-color: #f0f0ef !important;
  border-color: rgba(0, 0, 0, 0.08) !important; }

svg {
  color: #cccbca !important; }

.counter {
  background: #7f7d7b !important;
  color: #fff !important; }

a {
  color: #9a2810 !important; }
  a:visited {
    color: #d1593f !important; }
  a:active {
    color: #002a96 !important; }

.header,
.header > div {
  background-color: #bfbebd !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

#user-links > li > a {
  color: #0f0b06 !important;
  -webkit-filter: invert(100%)  !important; }
  #user-links > li > a img {
    -webkit-filter: none !important; }
  #user-links > li > a .dropdown-caret {
    -webkit-filter: invert(100%)  !important; }

.dropdown-menu,
.dropdown-menu form > button {
  background-color: #cbc9c8 !important; }

.svg-tip {
  background: #002a96 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #d7d6d5 !important; }

.dashboard-sidebar > div,
.dashboard-sidebar > div > h3,
.dashboard-sidebar > div > div,
.dashboard-sidebar > div > div > ul > li,
.dashboard-sidebar > div > div > div {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.repo-filterer > li > button,
.repo-filterer > li > a {
  background: #cbc9c8 !important; }
  .repo-filterer > li > button.filter-selected,
  .repo-filterer > li > a.filter-selected {
    color: #002a96 !important;
    border-color: rgba(0, 0, 0, 0.08) !important; }
  .repo-filterer > li > button:hover,
  .repo-filterer > li > a:hover {
    background: #d7d6d5 !important; }
  .repo-filterer > li > button:active,
  .repo-filterer > li > a:active {
    background-color: #f29784 !important; }

.dashboard-sidebar > div > div > ul > .private > a {
  background-color: #d7d6d5 !important; }

.js-menu-content div,
.js-menu-content .select-menu-list > div > a,
.js-menu-content .select-menu-list > a {
  background-color: #cbc9c8 !important;
  color: #0f0b06 !important;
  border-color: rgba(0, 0, 0, 0.08) !important; }
  .js-menu-content div:hover,
  .js-menu-content .select-menu-list > div > a:hover,
  .js-menu-content .select-menu-list > a:hover {
    background-color: #d7d6d5 !important; }
  .js-menu-content div.selected,
  .js-menu-content .select-menu-list > div > a.selected,
  .js-menu-content .select-menu-list > a.selected {
    background-color: #ed7056 !important;
    color: #002a96 !important; }

.select-menu > button {
  background: #cccbca !important;
  color: #0f0b06 !important; }
  .select-menu > button span {
    color: #0f0b06 !important; }

nav > a svg {
  -webkit-filter: none !important;
  background: #d7d6d5 !important; }

nav > a:visited svg {
  color: #0f0b06 !important; }

nav > div > a {
  background: #cccbca !important;
  color: #0f0b06 !important; }

.boxed-group-action > a {
  background-color: #ed7056 !important;
  color: #050300 !important;
  border-color: rgba(0, 0, 0, 0.08) !important; }

.news .alert .body {
  color: #0f0b06 !important; }

.news .alert .body .title,
.news .alert .body .time,
.news blockquote {
  color: #3f3b37 !important; }

.sn-jumbotron,
.jumbotron-home {
  -webkit-filter: invert(100%)  !important; }

.header-logo > svg {
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #d7d6d5 !important; }

.user-profile-nav,
.profile-timeline-year-list,
.user-profile-sticky-bar,
.user-profile-sticky-bar:after,
.profile-timeline-month-heading,
.contributions-setting-link,
.profile-rollup-toggle {
  background-color: #d7d6d5 !important; }

.site-header {
  background-color: #bfbebd !important; }

.pinned-repo-item {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.profile-timeline-card-wrapper > .profile-timeline-card,
.mb-5 {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.edit_user button {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.filter-item.selected {
  background: #cccbca !important; }

.btn,
a.btn, a.btn:visited, a.btn:hover,
.social-count,
.btn-block.mb-3 {
  background: #ed7056 !important;
  color: #050300 !important;
  border-color: rgba(0, 0, 0, 0.08) !important; }

.legend > li {
  -webkit-filter: invert(100%)  !important; }

.starred > button,
.user-following-container button {
  background: #ed7056 !important;
  color: #050300 !important;
  border-color: rgba(0, 0, 0, 0.08) !important; }

.pagehead.repohead,
.overall-summary,
.commit-tease,
.file-wrap > .files {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.readme,
.readme > h3,
.readme > .markdown-body,
.readme > .plain {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.muted-link {
  background: #d7d6d5 !important; }

.reponav-item.selected {
  background: #cccbca !important; }

.reponav-item svg {
  -webkit-filter: none !important;
  background: #d7d6d5 !important;
  color: #0f0b06 !important; }

.commit-tease-contributors,
.file,
.file-header {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.table-list-header,
.Box-body,
.blankslate {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.table-list-header svg {
  -webkit-filter: none !important;
  background: #d7d6d5 !important;
  color: #0f0b06 !important; }

.timeline-comment-wrapper,
.discussion-timeline-actions {
  background-color: #d7d6d5 !important; }

.timeline-comment,
.comment-form-head,
.form-control,
.drag-and-drop,
.comment-body {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.drag-and-drop .btn-link {
  background: #cbc9c8 !important; }

.timeline-comment > .timeline-comment-header,
.timeline-comment-action {
  background: #bfbebd !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.timeline-comment-action {
  background: #bfbebd !important; }
  .timeline-comment-action svg {
    -webkit-filter: none !important;
    background: #d7d6d5 !important;
    color: #0f0b06 !important; }

.toolbar-group > button,
.menu-target {
  background: #cbc9c8 !important; }
  .toolbar-group > button svg,
  .menu-target svg {
    -webkit-filter: none !important;
    background: #d7d6d5 !important;
    color: #0f0b06 !important; }

.toolbar-help svg {
  -webkit-filter: none !important;
  background: #d7d6d5 !important;
  color: #0f0b06 !important; }

.thread-subscription-status .reason {
  background: #d7d6d5 !important; }

.mergeability-details,
.merge-status-list > div {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.tabnav-tab.selected {
  background: #cccbca !important; }

.pr-toolbar,
.diffbar {
  background: #bfbebd !important; }

.project-header,
.col-project-custom > .project-column-header {
  background: #bfbebd !important; }

.project-column-inner,
.issue-card,
.project-card {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.project-columns {
  background: #d7d6d5 !important; }

.wiki-pages-box,
.filter-bar,
.wiki-auxiliary-content,
.wiki-pages {
  background-color: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.boxed-group > h3 {
  background: #bfbebd !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.boxed-group > div {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.repository-content .select-menu-item .selected {
  background: #f29784 !important; }

.pagehead,
.column > nav {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.column .menu-heading {
  background: #bfbebd !important; }

.menu-item.selected {
  background: #cbc9c8 !important; }

.boxed-group-list > li {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.listgroup > div {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.orgnav > a.selected {
  background: #bfbebd !important; }

.orghead {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.org-module,
.simple-box-footer {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.org-module-title {
  background: #bfbebd !important; }

.table-list-header,
.table-list-header-toggle .select-menu > button {
  background: #bfbebd !important; }

.table-list-item {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }
  .table-list-item svg {
    -webkit-filter: none !important;
    background: #d7d6d5 !important;
    color: #0f0b06 !important; }

.team-members {
  background: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.boxed-group input {
  color: #0f0b06;
  background: #f0f0ef;
  border-color: rgba(0, 0, 0, 0.08); }

.flash {
  background: #002a96 !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #d7d6d5 !important; }

.column > nav.menu .menu-heading {
  background: #bfbebd !important;
  border-color: rgba(0, 0, 0, 0.08) !important;
  color: #0f0b06 !important; }

.column > nav.menu a {
  background-color: #cbc9c8 !important;
  border-color: rgba(0, 0, 0, 0.08) !important; }

.intro-shelf, .intro-shelf .shelf-lead {
  color: #0f0b06 !important; }

/*# sourceMappingURL=github-iceberg.css.map */
