html {
  background-color: #1d1f21 !important;
  min-height: 100% !important; }

body {
  background-color: #e2e0de !important;
  min-height: 100% !important;
  -webkit-filter: invert(100%) !important; }

img,
iframe,
video,
embed:not([type$="pdf"]),
object,
svg,
canvas,
[background*="http"] {
  -webkit-filter: invert(100%)  !important; }

*[style*="background-image:"] {
  -webkit-filter: invert(100%)  !important; }

div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }

*:-webkit-full-screen {
  -webkit-filter: invert(100%)  !important; }

button, input[type="submit"], input[type="button"] {
  background-color: #7e5d41 !important;
  color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  button span, input[type="submit"] span, input[type="button"] span {
    color: #c8c4be !important; }

textarea, input[type="text"] {
  background-color: #d7d5d1 !important;
  color: #1f1f1f !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

html {
  text-shadow: 0 0 0 !important; }

a {
  color: #7e5d41 !important; }

a:visited {
  color: #4d6b44 !important; }

a:active {
  color: #0f398b !important; }

::-webkit-scrollbar {
  background: #1d1f21; }

::-webkit-scrollbar-track {
  background: #292c2f; }

::-webkit-scrollbar-thumb {
  background: #43484f;
  border-left: 2px solid #292c2f;
  border-right: 1px solid #292c2f;
  box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4); }

.drk_settings_global_msg.visible {
  display: block !important; }

.gb_ga {
  -webkit-filter: invert(100%)  !important; }

.flyr-o, .flyr-w {
  background-color: #e2e0de !important;
  color: White !important; }

span,
div,
em,
input {
  color: #3a3739 !important; }

#hplogo {
  -webkit-filter: invert(100%)  !important; }

#hplogo div {
  -webkit-filter: invert(100%)  !important; }

.jsb input[type="submit"] {
  background: #7e5d41 !important; }
  .jsb input[type="submit"]:hover {
    background: #6d5138 !important; }

.sbfcn {
  border-color: #5c4430 !important; }

.sbib_a, .sbib_b {
  background-color: #d7d5d1 !important; }

#sblsbb {
  background: #7e5d41 !important; }
  #sblsbb .sbico {
    -webkit-filter: invert(100%)  !important; }

.gsri_a {
  opacity: 0.8 !important;
  -webkit-filter: invert(100%)  !important; }

.gsst_e {
  opacity: 0.3 !important; }

.sbdd_b {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-color: solid 1px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2) !important; }

.sbsb_a {
  background-color: #d7d5d1 !important; }

.sfbgg {
  background-color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

#appbar {
  background-color: #e2e0de !important; }

#hdtbSum {
  background-color: #e2e0de !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  #hdtbSum a:hover {
    color: #5c4430 !important; }

.gb_Ha {
  background: #7e5d41 !important;
  color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.gb_7a::before, .gb_8a::before {
  -webkit-filter: invert(100%)  !important; }

#fbar {
  background-color: #e2e0de !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

#foot #navcnt span.csb {
  -webkit-filter: invert(100%)  !important; }

cite {
  color: #4a4297 !important; }

.ab_button {
  background-color: #e2e0de !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

.ab_button span {
  border-color: #4a4297 transparent !important; }

._iH {
  background: rgba(255, 255, 255, 0.4) !important; }
  ._iH a {
    text-shadow: 0 0 2px white, 0 0 3px white !important; }

.kp-blk {
  background: #d7d5d1 !important;
  box-shadow: 0px 1px 4px 0px rgba(255, 255, 255, 0.2) !important; }

.kappbar {
  background: #d7d5d1 !important; }

#irc_cc {
  background-color: #d7d5d1 !important; }

#irc_pc {
  border-color: #d7d5d1 !important; }

.irc_but {
  background: #7e5d41 !important;
  color: #c8c4be !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

._GKb div {
  -webkit-filter: invert(100%)  !important; }

.rg_anbg, .rg_ilmbg {
  background: rgba(220, 220, 220, 0.8) !important; }

a ~ [wotsearchtarget] {
  -webkit-filter: invert(100%)  !important; }

.wot-rep {
  -webkit-filter: invert(100%)  !important; }

#wot-cat-list .cat-item:before {
  -webkit-filter: invert(100%)  !important; }

/*# sourceMappingURL=google-base16tomorrow.css.map */
