html {
  background-color: #151515 !important;
  min-height: 100% !important; }

body {
  background-color: #eaeaea !important;
  min-height: 100% !important;
  -webkit-filter: invert(100%) !important; }

img,
iframe,
video,
embed:not([type$="pdf"]),
object,
svg,
canvas,
[background*="http"] {
  -webkit-filter: invert(100%)  !important; }

*[style*="background-image:"] {
  -webkit-filter: invert(100%)  !important; }

div.drk_settings,
div.drk_settings_icon,
div.drk_dialog,
.addthis_sharing_toolbox,
.drk_invert_back {
  -webkit-filter: invert(100%)  !important; }

*:-webkit-full-screen {
  -webkit-filter: invert(100%)  !important; }

button, input[type="submit"], input[type="button"] {
  background-color: #fc560b !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }
  button span, input[type="submit"] span, input[type="button"] span {
    color: #bdbdbd !important; }

textarea, input[type="text"] {
  background-color: #dedede !important;
  color: #111111 !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

html {
  text-shadow: 0 0 0 !important; }

a {
  color: #9b4a09 !important; }

a:visited {
  color: #867934 !important; }

a:active {
  color: #6f3506 !important; }

::-webkit-scrollbar {
  background: #151515; }

::-webkit-scrollbar-track {
  background: #222222; }

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-left: 2px solid #222222;
  border-right: 1px solid #222222;
  box-shadow: inset 1px 1px 0 rgba(100, 100, 100, 0.2), inset -1px -1px 0 rgba(0, 0, 0, 0.4); }

.drk_settings_global_msg.visible {
  display: block !important; }

.gb_ga {
  -webkit-filter: invert(100%)  !important; }

.flyr-o, .flyr-w {
  background-color: #eaeaea !important;
  color: White !important; }

button {
  background-color: transparent !important;
  color: #bdbdbd !important;
  border-color: rgba(0, 0, 0, 0.15) !important; }

input {
  color: #111111;
  background-color: #dedede;
  border-color: rgba(0, 0, 0, 0.15); }

.hn.b4 {
  background: #bdbdbd !important; }

.cb {
  background: #b350af !important; }

.hn:before {
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.14), 0 4px 8px rgba(255, 255, 255, 0.28) !important; }

.gbii {
  -webkit-filter: invert(100%) !important; }

.gb_ga {
  -webkit-filter: invert(0%) !important;
  background-color: #dedede !important; }

.gb_3, .gb_M {
  -webkit-filter: invert(100%) !important; }

.gN, .du > img, .iG > .Kc > img, .iK > li > img, .g-aq-al > img, .bG > img {
  -webkit-filter: invert(0%) !important; }

.qj:not([disabled]) {
  background-color: #1ac6ca !important;
  color: #bdbdbd !important; }

.hC, .oX {
  background-color: #fc560b !important;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.14), 0 4px 8px rgba(255, 255, 255, 0.28) !important; }

.dy {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.12), 0 2px 4px rgba(255, 255, 255, 0.24); }

.b4 .at {
  background-color: #bdbdbd !important; }

.b4 .at::before, .cb .at::before {
  box-shadow: inset 0px 0 0px 0px #fc560b !important; }

.b2, .gH {
  background-color: #1ac6ca !important; }

.rj, .k5 {
  background: #dedede !important; }

.ov {
  background-color: #fc560b !important;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.12), 0 2px 4px rgba(255, 255, 255, 0.24) !important; }

.ov > span {
  color: #111111 !important; }

.ov > div > span {
  color: #fea864 !important; }

.k7 {
  background: #0014c4 !important;
  color: #dedede !important; }

.k7 *[role="button"] {
  background: #1ac6ca !important;
  color: #bdbdbd !important; }

.b5 {
  -webkit-filter: invert(100) !important;
  background: white !important; }

.b5 img {
  -webkit-filter: invert(0) !important; }

input.dm {
  background: #fff !important; }

.pr {
  background: #bdbdbd !important; }

.p2 > img {
  -webkit-filter: invert(0) !important; }

/*# sourceMappingURL=inbox-material.css.map */
